<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="height: 100%;">
<head>
    <title>Просмотр информации об ингредиенте</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/styles/common.css}">
</head>
<body class="body">
<div class="page">
    <div th:replace="~{fragment_header :: header}"/>
    <div class="content">

        <div class="ctrl_panel" th:if="${isLoggedIn}">
            <span class="ctrl_button"><a th:href="@{'/ingredients/' + ${ingredient.ingredientId} + '/update'}">Редактировать</a></span>
            <span class="ctrl_button"><a th:href="@{'/ingredients/' + ${ingredient.ingredientId} + '/delete'}">Удалить</a></span>
        </div>

        <table>
            <tr>
                <td>Название</td>
                <td th:text="${ingredient.name}"></td>
            </tr>
            <tr>
                <td>Продукт</td>
                <td><a th:href="@{'/products/' + ${product.productId}}"><span th:text="${product.name}"></span></a></td>
            </tr>
            <tr>
                <td>Количество</td>
                <td><span th:text="${ingredient.amount} + ' ' + ${unit.shortName}"></span></td>
            </tr>
        </table>

    </div>
    <div th:replace="~{fragment_footer :: footer}"/>
</div>
</body>
</html>