<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="height: 100%;">
<head>
    <title>Редактирование информации о рецептах</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/styles/common.css}">
</head>
<body class="body">
<div class="page">
    <div th:replace="~{fragment_header :: header}"/>
    <div class="content">

        <h3>Редактирование информации о рецептах</h3>

        <div class="form_block">
            <form th:action="@{'/meals/' + ${meal.mealId} + '/recipes'}" method="post">

                <div class="form_element" th:each="recipe : ${recipes}">
                    <input type="checkbox"
                           name="selectedRecipes"
                           th:value="${recipe.id}"
                           th:checked="${recipe.selected}" />

                    <label th:text="${recipe.name}"></label>
                    <br/>
                </div>

                <div style="display: flex;">
                    <input type="submit" id="submit" value="Подтвердить">
                    <input type="button" value="Отмена" onclick="javascript:window.history.go(-1); return false;">
                </div>
            </form>
        </div>

    </div>
    <div th:replace="~{fragment_footer :: footer}"/>
</div>
</body>
</html>