<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="height: 100%;">
<head>
    <title>Список меню</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/styles/common.css}">
</head>
<body class="body">
<div class="page">
    <div th:replace="~{fragment_header :: header}"/>
    <div class="content">

        <div class="ctrl_panel" th:if="${isLoggedIn}">
            <span class="ctrl_button"><a href="/menus/create">Добавить новое меню</a></span>
        </div>

        <h3>Список меню</h3>

        <div th:switch="${#lists.size(menus)}">
            <span th:case="'0'">Нет информации для отображения</span>
            <div th:case="*">
                <table class="table">
                    <tr class="tr">
                        <th class="th">Название</th>
                        <th class="th">Примечание</th>
                    </tr>
                    <tr class="tr" th:each="menu : ${menus}">
                        <td class="td"><a th:href="@{'/menus/' + ${menu.menuId}}"><span th:text="${menu.name}"></span></a></td>
                        <td class="td"><span th:if="${menu.active}">Активное меню</span></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div th:replace="~{fragment_footer :: footer}"/>
</div>
</body>
</html>