<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="height: 100%;">
<head>
    <title>Просмотр информации о профиле питания</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/styles/common.css}">
</head>
<body class="body">
<div class="page">
    <div th:replace="~{fragment_header :: header}"/>
    <div class="content">

        <div class="ctrl_panel" th:if="${isLoggedIn}">
            <span class="ctrl_button"><a href="/profiles/create">Добавить новый профиль питания</a></span>
            <span class="ctrl_button"><a th:href="@{'/profiles/' + ${profile.profileId} + '/update'}">Редактировать профиль питания</a></span>
            <span class="ctrl_button"><a th:href="@{'/profiles/' + ${profile.profileId} + '/delete'}">Удалить профиль питания</a></span>
            <span class="ctrl_button" th:if="${#bools.isFalse(profile.active)}"><a th:href="@{'/profiles/' + ${profile.profileId} + '/active'}">Сделать активным</a></span>
        </div>

    </div>
    <div th:replace="~{fragment_footer :: footer}"/>
</div>
</body>
</html>