<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="height: 100%;">
<head>
    <title>Список профилей питания</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/styles/common.css}">
</head>
<body class="body">
<div class="page">
    <div th:replace="~{fragment_header :: header}"/>
    <div class="content">

        <div class="ctrl_panel" th:if="${isLoggedIn}">
            <span class="ctrl_button"><a href="/profiles/create">Добавить новый профиль питания</a></span>
        </div>

        <h3>Список профилей питания</h3>

        <div th:switch="${#lists.size(profiles)}">
            <span th:case="'0'">Нет информации для отображения</span>
            <div th:case="*">
                <table class="table">
                    <tr class="tr">
                        <th class="th">Название</th>
                        <th class="th">Примечание</th>
                    </tr>
                    <tr class="tr" th:each="profile : ${profiles}">
                        <td class="td"><a th:href="@{'/profiles/' + ${profile.profileId}}"><span th:text="${profile.name}"></span></a></td>
                        <td class="td"><span th:if="${profile.active}">Активный профиль питания</span></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div th:replace="~{fragment_footer :: footer}"/>
</div>
</body>
</html>