<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="height: 100%;">
<head>
    <title>Просмотр информации о профиле питания</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/styles/common.css}">
</head>
<body class="body">
<div class="page">
    <div th:replace="~{fragment_header :: header}"/>
    <div class="content">

        <div class="ctrl_panel" th:if="${isLoggedIn}">
            <span class="ctrl_button"><a href="/profiles/create">Добавить новый профиль питания</a></span>
            <span class="ctrl_button"><a th:href="@{'/profiles/' + ${profile.profileId} + '/update'}">Редактировать профиль питания</a></span>
            <span class="ctrl_button"><a th:href="@{'/profiles/' + ${profile.profileId} + '/delete'}">Удалить профиль питания</a></span>

            <span class="ctrl_button" th:if="${#bools.isFalse(profile.active)}"><a th:href="@{'/profiles/' + ${profile.profileId} + '/active'}">Сделать активным</a></span>
            <span class="ctrl_button" th:if="${#bools.isTrue(profile.active)}">Активный</span>

            <span class="ctrl_button" th:if="${#bools.isTrue(profile.profileTypeId==0)}"><a th:href="@{'/days/create?profile_id=' + ${profile.profileId}}">Добавить день</a></span>
            <span class="ctrl_button" th:if="${#bools.isTrue(profile.profileTypeId==0)}"><a th:href="@{'/weeks/create?profile_id=' + ${profile.profileId}}">Добавить неделю</a></span>

            <span class="ctrl_button" th:if="${#bools.isTrue(profile.profileTypeId==1)}"><a th:href="@{'/days/create?profile_id=' + ${profile.profileId}}">Добавить день</a></span>
            <span class="ctrl_button" th:if="${#bools.isTrue(profile.profileTypeId==2)}"><a th:href="@{'/weeks/create?profile_id=' + ${profile.profileId}}">Добавить неделю</a></span>
        </div>

        <h3 th:text="${profile.name}"></h3>

        <div th:switch="${profile.profileTypeId}">
            <span th:case="'0'">Нет информации для отображения</span>
            <div th:case="1">
                <div th:each="day : ${days}">
                    <a th:href="@{'/days/' + ${day.dayId}}"><span th:text="${day.name}"></span></a>

                    <div th:each="meal : ${meal}">
                        <a th:href="@{'/meals/' + ${meal.mealId}}"><span th:text="${meal.name}"></span></a>

                        <div th:each="recipe : ${recipes}">
                            <a th:href="@{'/recipes/' + ${recipe.recipeId}}"><span th:text="${recipe.name}"></span></a>

                        </div>
                    </div>
                </div>
            </div>
            <div th:case="2">
                <div th:each="week : ${weeks}">
                    <a th:href="@{'/weeks/' + ${week.weekId}}"><span th:text="${week.name}"></span></a>

                    <div th:each="day : ${days}">
                        <a th:href="@{'/days/' + ${day.dayId}}"><span th:text="${day.name}"></span></a>

                        <div th:each="meal : ${meal}">
                            <a th:href="@{'/meals/' + ${meal.mealId}}"><span th:text="${meal.name}"></span></a>

                            <div th:each="recipe : ${recipes}">
                                <a th:href="@{'/recipes/' + ${recipe.recipeId}}"><span th:text="${recipe.name}"></span></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div th:replace="~{fragment_footer :: footer}"/>
</div>
</body>
</html>