<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="height: 100%;">
<head>
    <title>Просмотр информации о метке</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/styles/common.css}">
</head>
<body class="body">
<div class="page">
    <div th:replace="~{fragment_header :: header}"/>
    <div class="content">

        <div class="ctrl_panel" th:if="${isLoggedIn}">
            <span class="ctrl_button"><a href="/tags/create">Добавить новую метку</a></span>
            <span class="ctrl_button"><a th:href="@{'/tags/' + ${tag.tagId} + '/update'}">Редактировать</a></span>
            <span class="ctrl_button"><a th:href="@{'/tags/' + ${tag.tagId} + '/delete'}">Удалить</a></span>
            <span class="ctrl_button"><a th:href="@{'/tags/' + ${tag.tagId} + '/set'}">Проставить метку на рецепты</a></span>
            <span class="ctrl_button"><a th:href="@{'/tags/' + ${tag.tagId} + '/unset'}">Удалить метку с рецептов</a></span>
        </div>

        <table>
            <tr>
                <td>Название</td>
                <td id="f_name" th:text="${tag.name}"></td>
            </tr>
            <tr>
                <td>Примечание</td>
                <td id="f_description" th:text="${tag.description}"></td>
            </tr>
        </table>

        <h4>Используется в следующих рецептах</h4>

        <div th:switch="${#lists.size(recipes)}">
            <span th:case="'0'">Нет информации для отображения</span>
            <div th:case="*">
                <div th:each="recipe : ${recipes}">
                    <a th:href="@{'/recipes/' + ${recipe.recipeId}}"><span th:text="${recipe.name}"></span></a>
                </div>
            </div>
        </div>

    </div>
    <div th:replace="~{fragment_footer :: footer}"/>
</div>
</body>
</html>