<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="height:100%; align-items:center; justify-content:center; display:flex;">
<head>
    <title>Авторизация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body style="background-color: #e4dccf;">
<div style="padding:50px 0;">
    <form th:action="@{/login}" method="post" style="max-width:800px; padding:50px 70px; border-radius:10px; box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2); background-color:#f0ebe3;">
        <div style="text-align: center;">
            <h3 style="font-weight: bold; margin-bottom: 30px;">Авторизация</h3>
        </div>

        <div>
            <input style="border-radius: 10px; margin-bottom: 25px; padding: 10px 20px;"
                   type="text" id="username" name="username" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" placeholder="Логин" required>
        </div>

        <div>
            <input style="border-radius: 10px; margin-bottom: 25px; padding: 10px 20px;"
                   type="password" id="password" name="password" minlength="6" placeholder="Пароль" required>
        </div>

        <div>
            <button style="border-radius:30px; padding:10px 20px; font-weight:bold; border:none; color:white; margin-top:20px; background-color:#1b90bb; width:100%; display:block;" type="submit">ВОЙТИ</button>
        </div>

        <div style="text-align: center; color: red;" th:if="${param.error}">Неверные учетные данные пользователя</div>
        <div style="text-align: center; color: red;" th:if="${param.logout}">Вы вышли из системы</div>
    </form>
</div>
</body>
</html>