<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="height: 100%;">
<head>
    <title>Удаление информации о продукте</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/styles/common.css}">
</head>
<body class="body">
<div class="page">
    <div th:replace="~{fragment_header :: header}"/>
    <div class="content">

        <h3>Удаление информации о продукте</h3>

        <div class="form_block">
            <form action="#" th:action="@{'/products/' + ${product.productId} + '/delete'}" method="post" th:object="${product}">
                <input type="hidden" th:field="*{productId}"/>

                <div class="form_element">
                    <label for="f_name">Название</label>
                    <input type="text" id="f_name" th:field="*{name}" disabled="disabled"/>
                    <span class="validation_error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>

                <div class="form_element">
                    <label for="f_calories">Калорийность, г</label>
                    <input type="text" id="f_calories" th:field="*{calories}" disabled="disabled"/>
                    <span class="validation_error" th:if="${#fields.hasErrors('calories')}" th:errors="*{calories}"></span>
                </div>

                <div class="form_element">
                    <label for="f_proteins">Белков, г</label>
                    <input type="text" id="f_proteins" th:field="*{proteins}" disabled="disabled"/>
                    <span class="validation_error" th:if="${#fields.hasErrors('proteins')}" th:errors="*{proteins}"></span>
                </div>

                <div class="form_element">
                    <label for="f_fats">Жиров, г</label>
                    <input type="text" id="f_fats" th:field="*{fats}" disabled="disabled"/>
                    <span class="validation_error" th:if="${#fields.hasErrors('fats')}" th:errors="*{fats}"></span>
                </div>

                <div class="form_element">
                    <label for="f_carbs">Углеводов, г</label>
                    <input type="text" id="f_carbs" th:field="*{carbs}" disabled="disabled"/>
                    <span class="validation_error" th:if="${#fields.hasErrors('carbs')}" th:errors="*{carbs}"></span>
                </div>

                <div class="form_element">
                    <label for="f_description">Примечание</label>
                    <input type="text" id="f_description" th:field="*{description}" disabled="disabled"/>
                    <span class="validation_error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>

                <div style="display: flex;">
                    <input type="submit" value="Подтвердить">
                    <input type="button" value="Отмена" onclick="javascript:window.history.go(-1); return false;">
                </div>
            </form>
        </div>

    </div>
    <div th:replace="~{fragment_footer :: footer}"/>
</div>
</body>
</html>