<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="height: 100%;">
<head>
    <title>Планировщик питания</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/styles/common.css}">
</head>
<body class="body">
<div class="page">
    <div th:replace="~{fragment_header :: header}"/>
    <div class="content">

        <div class="ctrl_panel">
            <span class="ctrl_button"><a href="/profiles">Профили питания</a></span>
            <span class="ctrl_button"><a href="/recipes">Рецепты</a></span>
            <span class="ctrl_button"><a href="/products">Продукты</a></span>
            <span class="ctrl_button"><a href="/tags">Метки</a></span>
        </div>

        <div class="content_block">

        </div>

    </div>
    <div th:replace="~{fragment_footer :: footer}"/>
</div>
</body>
</html>