<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="height: 100%;">
<head>
    <title>Список меток</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/styles/common.css}">
</head>
<body class="body">
<div class="page">
    <div th:replace="~{fragment_header :: header}"/>
    <div class="content">

        <div class="ctrl_panel">
            <span class="ctrl_button"><a href="/profiles">Профили питания</a></span>
            <span class="ctrl_button"><a href="/recipes">Рецепты</a></span>
            <span class="ctrl_button"><a href="/products">Продукты</a></span>
            <span class="ctrl_button"><a href="/tags">Метки</a></span>
        </div>

        <h3>Метки</h3>

        <div th:switch="${#lists.size(tags)}">
            <span th:case="'0'">Нет информации для отображения</span>
            <div th:case="*">
                <div th:each="tag : ${tags}">
                    <a th:href="@{'/tags/' + ${tag.tagId}}"><span th:text="${tag.name}"></span></a>
                </div>
            </div>
        </div>

    </div>
    <div th:replace="~{fragment_footer :: footer}"/>
</div>
</body>
</html>